doctype html
html
	head
		title= title
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="stylesheets/normalize.css")
		link(rel="stylesheet" href="stylesheets/skeleton.css")
		link(rel="icon" type="image/png" href="images/favicon.png")

	body
		block content
